@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}

html {
  background-color: #1e2650;
  padding: 5%;
  background-image: url('./images/moon-5998379_1280.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 85%;
  color: #ffffff;
  background-color: rgba(42, 67, 89, 0.85);
  padding: 5px;
}


.sidebar {
  position: fixed;
  top: 50%;
  /* Adjust as needed */
  right: 0;
  transform: translateY(-50%);
  /* Center vertically */
  /* Additional styling */
  background-color: $background-color;
  padding: 10px;
  border: 1px solid #ccc;
}

.page-wrapper {
  padding: 5%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  background-image: url(images/flower-3205083_640.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0 center;
  padding-left: 30px;
  margin-top: 5%;
}


p {
  width:80%;
}



/* Adjustments for smaller screens */
/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
  header {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .sidebar {
      margin-top: 60px; /* Adjust as needed */
      position: relative;
  }

  footer {
      display: block; /* Make sure footer is a block element */
      margin-top: 20px; /* Adjust as needed */
  }

  /* Adjust styles of the elements inside the footer if needed */
}




  
